@import url('./reset.css');
.gallery {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  margin: 24px auto;
}

.gallery-item {
  width: calc((100% - 24px * 2) / 3);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
